normalize_feed_url encoding bug

URLs below are from the [The Changelog](https://changelog.com/podcast) podcast.
Episode URL passed as query parameter for the [Retrieve Episode Data API](https://gpoddernet.readthedocs.io/en/latest/api/reference/directory.html#retrieve-episode-data):
`https://chtbl.com/track/382DG4/https://cdn.changelog.com/uploads/podcast/375/the-changelog-375.mp3` becomes `https://chtbl.com/track/382DG4/https%3A//cdn.changelog.com/uploads/podcast/375/the-changelog-375.mp3` after processed by `mygpo.utils.normalize_feed_url`.
Notice that `:` is encoded as `%3A` and differs from the URL string in database.This results in a 404 Not Found error.
I'm triaging this issue.

Sleepy. :sleeping:  Back tomorrow to fix this issue. :muscle: 

There seem to be cases in which a colon (`:`) is not allowed (unencoded) in the path part of a URL (see  [section 3.3 of RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.3), esp the paragraph that begins with "A path segment that contains a colon character").

This might have been the reason why a originally decided to urlencode colons in URLs.

I think the safest choice might be to use this representation consistently.

Related https://github.com/gpodder/mygpo/issues/100